/tmp
node_modules
.DS_Store

# We only want a top-level `pnpm-lock.yaml` file.
gill/**/package-lock.json
gill/**/pnpm-lock.yaml
gill/**/yarn.lock
web3js/**/package-lock.json
web3js/**/pnpm-lock.yaml
web3js/**/yarn.lock

# Ignore any dist, tmp, or node_modules directories
gill/**/.next
gill/**/.env
gill/**/trezoaanchor/target/debug
gill/**/trezoaanchor/target/deploy
gill/**/trezoaanchor/target/release
gill/**/trezoaanchor/target/sbf-trezoa-trezoa
gill/**/trezoaanchor/target/sbpf-trezoa-trezoa
gill/**/trezoaanchor/target/test-ledger
gill/**/trezoaanchor/target/.rustc_info.json
gill/**/dist
gill/**/node_modules
gill/**/tmp
web3js/**/.next
web3js/**/.env
web3js/**/trezoaanchor/target/debug
web3js/**/trezoaanchor/target/deploy
web3js/**/trezoaanchor/target/release
web3js/**/trezoaanchor/target/sbf-trezoa-trezoa
web3js/**/trezoaanchor/target/sbpf-trezoa-trezoa
web3js/**/trezoaanchor/target/test-ledger
web3js/**/trezoaanchor/target/.rustc_info.json
web3js/**/dist
web3js/**/node_modules
web3js/**/tmp
community/**/.next
