# Add files here to ignore them from prettier formatting
/trezoaanchor/target/debug
/trezoaanchor/target/deploy
/trezoaanchor/target/release
/trezoaanchor/target/sbf-trezoa-trezoa
/trezoaanchor/target/test-ledger
/trezoaanchor/target/.rustc_info.json
/dist
/coverage
.next
/tmp
package-lock.json
pnpm-lock.yaml
yarn.lock
